body {
  background-color: black;
  opacity: 0.9;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
}

/*header with logo and menu*/
header {
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  }

.cozy-logo{
  margin-left: 10px;
  }

Nav{
    margin-right: 10px;
  }

.menu {
  padding-left: 20px;
}
.menu>a {
  text-decoration: underline;
  color: seashell;
  }

/*main content container fixing position relative to header*/
.main-container{
  position: relative;
  top: 70px;
  Margin: 0;
}

/*styling for all elements with flex-container class*/
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/*Main picture and heading text*/
.maincontent{
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  }

  .mission{
    background-color: black;
    width:inherit;
    height: auto;
    margin: 0 auto;
  }

    .mission>h4,
    .mission>h2 {
      width: inherit;
      margin: 0 auto;
      padding: 7px 0;
      text-align: center;
    }

/*Tea of month content*/

  .tea-of-month{
    padding-top: 60px;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
  }
      .teas{
      margin: 15px auto 0 auto;
      width: 1000px;
      display: flex;
      flex-direction: column;
      align-content: center;
      }
      .teas-top{
        display: flex;
        justify-content:space-around;
      }
      .teas-bottom{
        display: flex;
        justify-content: center;
        align-self: auto;
        width: 700px;
        margin: auto;
      }
      .myrtle {
        margin-right: 25px;
      }

      .tea-name{
        margin-top: 10px;
      }

    .tea-of-month>h2,
    .tea-of-month>h4 {
      margin: 0;
      padding-bottom: 10px;
    }

/*Location styling*/
.all-locations {
  background-image: url(../images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  align-self: center;
  }

  .location {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.flex-container.address {
  background-color: black;
  width: 300px;
  opacity: 1;
  margin: 0 20px;
  justify-content: space-around;
    }

.address>span {
  padding-bottom: 30px;
}

/*footer container information*/

    #contact-info {
      margin: 50px auto 0 auto;
      height: 200px;
      }

      #contact-info>h2 {
        margin: 0;
        padding-bottom: 30px;
        }

        #contact-info>h5{
          margin-top: 0;
          padding-top: 0px;
        }

        #copyright{
          align-self: flex-start;
          margin-left: 20px;
          text-align: left;
        }
