body {
  background-color: black;
  opacity: 0.9;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
}

/*header with logo and menu*/
header {
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  }

.cozy-logo{
  margin-left: 10px;
  }

Nav{
    margin-right: 10px;
  }

.menu {
  padding-left: 20px;
}
.menu a {
  text-decoration: underline;
  color: seashell;
  }

/*Main picture and heading text*/
.maincontent{
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mission{
  background-color: black;
  width:inherit;
  height: auto;
  margin: 0 auto;
}

  .mission h4,
  .mission h2 {
    width: inherit;
    margin: 0 auto;
    padding: 7px 0;
    text-align: center;
  }


/*tea of the month*/

.container {
  padding-top: 100px;
  width: 1000px;
  height: 700px;
  margin: 0px auto;
}

.tom-heading {
  margin: 0;
  padding: 17px 0px 0 10px 0;
  text-align: center;
}

.container>h4 {
  margin: 5px 0;
  text-align: center;
}

.teas{
  margin: 15px auto 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  }

  .teas-top{
    display: flex;
    justify-content:space-around;
  }

  .teas-bottom{
    display: flex;
    justify-content: center;
  }

  .myrtle {
    margin-right: 25px;
  }

.berry,
.rum,
.donut,
.myrtle,
.bedford {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
    }

.tea-name{
  margin-top: 10px;
}

/*Location styling*/
.all-locations {
  background-image: url(../images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  }

  .all-locations>h2 {
    margin: 60px auto 15px auto;
    padding-top: 10px;
  }

.location {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}



.address {
  background-color: black;
  width: 300px;
  opacity: 1;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
    }

.address>span {
  padding-bottom: 40px;
}

    .contactinfo {
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
      justify-content: space-between;
      height: 200px;
      margin: 0;
    }

.contactinfo>h2,
.contactinfo>h5 {
  margin: 0;
  }

  .copyright{
    margin: 20px;
    text-align: left;
  }
